@import "bourbon/bourbon";

// variables
$width: 100px;
$height: 40px;
$switcher-gap: 2px;

$animation-duration: 500ms;

$color-switch: #ecf0f1;
$color-switcher: #1abc9c;

// mixins
@mixin border-radius($radius) {
    @include border-top-radius($radius);
    @include border-bottom-radius($radius);
    @include border-left-radius($radius);
    @include border-right-radius($radius);
}

@mixin box-shadow($params) {
    @include prefixer(box-shadow, $params, webkit moz spec ms o);
}

// style
.light-switch {
    @include position(relative);
    @include size(($width + $height) $height);
    @include margin(100px auto);

    &.on {
        .switch .switcher { left: $width - $height; }
        .light { @include transform(rotateY(180deg)); }
    }

    .switch {
        @include position(absolute, 0px auto auto 0px);
        @include size($width $height);
        @include linear-gradient(to top, tint($color-switch, 20%), $color-switch);
        border-top: 1px solid shade($color-switch, 10%);
        @include border-radius(5px);

        .switcher {
            @include position(absolute, ($switcher-gap - 1px) auto auto $switcher-gap);
            @include size(($height - (2 * $switcher-gap)) ($height - (2 * $switcher-gap) - 2px));
            @include linear-gradient(tint($color-switcher, 40%), $color-switcher);
            border-top: 1px solid tint($color-switcher, 70%);
            border-bottom: 1px solid shade($color-switcher, 10%);
            @include border-radius(5px);
            @include box-shadow(0px 1px 5px 0px shade($color-switch, 10%));
            @include transition(all $animation-duration);

            &:hover {
                background: tint($color-switcher, 30%);
                cursor: pointer;
            }
        }
    }

    .light {
        @include position(absolute, 0px 0px auto auto);
        @include size($height $height);
        text-align: center;
        background: transparent;

        @include transition(transform $animation-duration ease-in-out);
        @include transform-origin(center top);
        @include transform-style(preserve-3d);

        i {
            @include position(absolute);
            @include size(100% 100%);
            @include backface-visibility(hidden);
            line-height: $height;
            display: block;

            &.front {
                color: shade($color-switch, 10%);
                background: #FFF;
            }

            // => Activated
            &.back {
                color: $color-switcher;
                text-shadow: 0px 0px 5px tint($color-switcher, 50%);
                @include transform(rotateY(180deg));
            }
        }
    }
}